<head>
    <link rel="stylesheet" href="/css/lista.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    <div class="titulo">
        <h1>DEMON FIT</h1>
    </div>
     <div class="redes-sociais.1">
        <div class="redes-sociais">
            <a href="http://www.facebook.com.br"><img src="/img/facebook.png" alt="facebook"></a>
            <a href="https://www.instagram.com/"><img src="/img/instagram.png" alt="instagram"></a>
            <a href="https://web.whatsapp.com/"><img src="/img/whatsapp.png" alt="whatsapp"></a>
        </div>  
     </div> 
    <div class="linha"></div>
    <nav class="insignes">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/quemsomos">Quem somos</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/horarios">Funcionamento</a></li>
        </ul>
    </nav>
    <div class="linha"></div>
    </header>
    {{#each cadastros}}
    <div class="dados">
        <div>
            <span>Nome:</span>
            <span>{{nome}}</span>
        </div>
        <div>
            <span>Idade:</span>
            <span>{{idade}}</span>
        </div>
        <div>
            <span>Telefone:</span>
            <span>{{telefone}}</span>
        </div>
        <div>
            <span>Email:</span>
            <span>{{email}}</span>
        </div>
        <div>
            <span>Endereco:</span>
            <span>{{endereco}}</span>
        </div>
        <br>
    </div>
    {{/each}}
</body>